<div class="sidernav fl" id="siderNav">
        <div class="logopt"><div class="logo"><a href="/" title="返回网站首页">返回首页</a></div></div>
        <ul class="sd_menu">
          <li id="about"><a href="/about/">关于博主</a><i></i></li>
          <li id="archive"><a href="/archive/">文章归档</a><i></i></li>
          <li id="guestbook"><a href="/guestbook/">给我留言</a><i></i></li>
          <li id="links" class="hidden-sm"><a href="/links/">友情链接</a><i></i></li>
          <li><a href="/feed.xml" target="_blank">订阅博客</a><i></i></li>
        </ul>
        <a href="javascript:void(0);" onClick="history.go(-1);" class="circle_back" title="返回上一页">返回</a>
    </div>

<script>
$(document).ready(function(){
  $('.sd_menu>li').removeClass('on');
  var path = window.location.pathname.split('/')[1];
  switch(path){
    case 'about':
      $('#about').addClass('on');
      break;
    case 'guestbook':
      $('#guestbook').addClass('on');
      break;
    case 'links':
      $('#links').addClass('on');
      break;
    default:
      $('#archive').addClass('on');
  }
});
</script>
