<ul class="sd_menu">
  <li id="about"><a href="/about/">关于博主</a><i></i></li>
  <li id="archive"><a href="/archive/">文章归档</a><i></i></li>
  <li id="guestbook"><a href="/guestbook/">给我留言</a><i></i></li>
  <li id="links" class="hidden-sm"><a href="/links/">友情链接</a><i></i></li>
  <li><a href="/feed.xml" target="_blank">订阅博客</a><i></i></li>
</ul>

<script>
$(document).ready(function(){
	$('a').hover(
		function(){
			$(this).animate({opacity: 0.3}, 400)
		},
		function(){
			$(this).animate({opacity: 1}, 400)
		});
  $('.sd_menu>li').removeClass('on');
  var path = window.location.pathname.split('/')[1];
  switch(path){
    case 'about':
      $('#about').addClass('on');
      break;
    case 'guestbook':
      $('#guestbook').addClass('on');
      break;
    case 'links':
      $('#links').addClass('on');
      break;
    default:
      $('#archive').addClass('on');
  }
});
function getURLParameter(name) {
    return decodeURI(
        (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]
    );
}
</script>
