<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }}|{{ site.title }}</title>
{% include header.html %}
<meta name="keywords" content="{{ site.headkeys }}" />
<meta name="description" content="{{ site.headdesc }}" />
<link rel="stylesheet" href="/style/main.css" />
</head>
<body>
<div class="main">
    {% include banner.html %}
    <div class="maincont fl">
		<div class="introducts" id="commonbox">
			<div class="hd">
				 <h2>{{ page.stitle }}</h2>
				 <h1>{{ page.title }}</h1>
			</div>
			<div class="artcils">
				{{ content }}
				{% include footer.html %}
			</div>

		</div>
	</div>
</div>
</body>
</html>