<!DOCTYPE HTML>
<html>
<head>
  <title>{{ site.title }}|{{ site.description }}</title>
  {% include header.html %}
  <meta content="{{ site.headdesc }}" name="description"/>
  <meta content="{{ site.headkeys }}" name="keywords"/>
</head>
<body>
<div class="container">
<div class="banner">
{% include banner.html %}
</div>
<div class="main">
<div class="title"><a href="{{ page.url }}">{{ page.title }}</a></div>
<div class="content">
	{{ content }}
</div>
</div>

{% include footer.html %}
</div>
</body>
</html>

